@import 'bourbon';
@import 'neat';
@import 'breakpoints';
@import 'colors';

#blog, #blogpost {
	width: 100%;
	font-family: DINPro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	display: inherit;
	flex-direction: column;
	align-items: center;

	header {
		width: 100%;

		@include media($mobile) {
			margin-left: 2rem;
			margin-top: 1rem;
		}
		@include media($large-mobile) {
			margin-left: 2rem;
		}
		@include media($tablet) {
			margin-left: 2rem;
		}
		@include media($desktop) {
			margin-left: 6rem;
			margin-top: 2rem;
		}

		.profile {
			display: flex;
			flex-direction: row;

			width: 100%;
			margin-bottom: 1rem;
			img {
				@include media($mobile) {
					width: 3rem;
					height: 3rem;
				}
				@include media($large-mobile) {
					width: 4rem;
					height: 4rem;
				}
				@include media($tablet) {
					width: 4.5rem;
					height: 4.5rem;
				}
				@include media($desktop) {
					width: 4.5rem;
					height: 4.5rem;
				}
			}
			.name {
				padding-left: 1rem;
				flex: 1;

				h1 {
					margin: 0.5rem 0.5rem 0 0;
					letter-spacing: 0.04rem;

					@include media($mobile) {
						font-size: 1rem;
					}
					@include media($large-mobile) {
						font-size: 1.2rem;
					}
					@include media($tablet) {
						font-size: 1.3rem;
					}
					@include media($desktop) {
						font-size: 1.5rem;
					}
				}

				h2 {
					margin: 0 0 0 0;
					font-weight: 500;
					letter-spacing: 0.08rem;

					@include media($mobile) {
						font-size: 0.8rem;
					}
					@include media($large-mobile) {
						font-size: 1rem;
					}
					@include media($tablet) {
						font-size: 1rem;
					}
					@include media($desktop) {
						font-size: 1.1rem;
					}
				}
			}
		}
	}


	ul {
		list-style: none;
	}
	h3 {
		@include media($mobile) {
			font-size: 1.3rem;
		}
		@include media($large-mobile) {
			font-size: 1.3rem;
		}
		@include media($tablet) {
			font-size: 2.0rem;
		}
		@include media($desktop) {
			font-size: 2.3rem;
		}

		a {
			text-decoration: none;
			color: inherit;
		}
	}
	li {
		.date {
			color: lighten(#000, 40);
		}
	}
	article, ul {
		margin-bottom: 3rem;
		@include media($mobile) {
			font-size: 0.8rem;
			width: 80%;
		}
		@include media($large-mobile) {
			font-size: 1rem;
			width: 80%;
		}
		@include media($tablet) {
			font-size: 1.3rem;
			width: 60%;
		}
		@include media($desktop) {
			font-size: 1.3rem;
			width: 60%;
		}

		h1 {
			@include media($mobile) {
				font-size: 1.5rem;
			}
			@include media($large-mobile) {
				font-size: 2.0rem;
			}
			@include media($tablet) {
				font-size: 3rem;
			}
			@include media($desktop) {
				font-size: 3rem;
			}
		}
	}
}

ul.tags {
	width: 100%;
	list-style: none;
	display: inline-block;
	justify-content: space-around;
	padding: 0 0 0 0;
	margin-top: 0.7rem;
	& li {
		font-size: 0.8rem;
		display: inline-block;
		background-color: $lightgreen;
		color: #FFF;
		padding: 0.2rem 0.4rem 0.2rem 0.4rem;
		border-radius: 0.2rem;
		margin: 0.1rem 0 0.1rem 0;
		text-align: center;
	}
}


#blogpost {
	h3 {
		font-size: inherit;
	}
}
