@import 'font-awesome';

a {
	text-decoration: none;
	color: $lightgreen;
	letter-spacing: 0.08rem;

	&.social {
		color: lighten(#000, 30);
	}
}

a:hover {
	color: lighten($lightgreen, 10);

	&.social {
		color: $lightgreen;
	}
}

#contact {
		width: 100%;
		height: 100%;
		font-family: DINPro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		display: inherit;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 3rem;
}
