@import 'colors';
@import 'breakpoints';

#index {
	height: inherit;
	h1 {
		font-family: DINPro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color: black;
		font-weight: bold;
		margin: 0 0 0 0;
		display: block;
		padding-bottom: 10px;


		@include media($mobile) {
			font-size: 2rem;
		}
		@include media($large-mobile) {
			font-size: 2.0rem;
		}
		@include media($tablet) {
			font-size: 3rem;
		}
		@include media($desktop) {
			font-size: 3rem;
		}
	}

	h2 {
		color: lighten($lightgreen, 2);
		margin: 0 0 0 0;
		display: block;

		@include media($mobile) {
			font-size: 1.4rem;
		}
		@include media($large-mobile) {
			font-size: 1.4rem;
		}
		@include media($tablet) {
			font-size: 2rem;
		}
		@include media($desktop) {
			font-size: 2rem;
		}
	}

	.vcard {
		height: inherit;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		letter-spacing: 0.2rem;
		font-family: DINPro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-weight: 400;
	}

}
