@import 'blog';
@import 'contact';
@import 'index';
@import 'projects';
@import 'slideout';
@import 'animations';
@import 'menu';
@import 'colors';
@import 'comfort-syntax';
@import 'noselect';
@import 'fonts';

// Extracted from bootstrap.
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	color: lighten(#000, 15);
}

body {
  	position: relative;
	margin: 0 0 0 0;
}

img.circular {
	border-radius: 50%;
}

img.small {
	width: 80px;
	height: 80px;
}

img.medium {
	width: 128px;
	height: 128px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #000;
	padding: 0;
	margin: 0 0 0 0;
	flex: 1;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: #FFF;
}

body > .ember-view {
	height: 100%;
}

.slideout-toggle {
    @extend .noselect;
    position: fixed;
	top: 0;
	right: 0;
	padding-right: 1rem;
	font-size: 3rem;
	cursor: pointer;

	@include media($mobile) {
		font-size: 1.5rem;
		padding-right: 0.5rem;
	}
	@include media($large-mobile) {
		font-size: 2.0rem;
		padding-right: 0.5rem;
	}
	@include media($tablet) {
		font-size: 3rem;
		padding-right: 1rem;
	}
	@include media($desktop) {
		font-size: 3rem;
		padding-right: 1rem;
	}
}

#content {
	width: 100%;
	height: inherit;
	display: inherit;
	flex-direction: column;
}
