<div id="blog">
	{{partial 'partials/header'}}
	<ul>
		<li>
			<div class="date">
				27th April 2016 —
			</div>
			<h3>{{#link-to 'blog.trading-memory-for-performance-in-js-engines'}}Trading Memory for Performance in Javascript Engines{{/link-to}}</h3>
			<section>
				Understanding the internal workings of modern JavaScript engines and how they optimize your code on the fly.
			</section>
		</li>
	</ul>
</div>
