{{#slide-out panel='#body' id="menu"}}
	<ul>
		<li>{{#link-to 'index'}}Home{{/link-to}}</li>
		<li>{{#link-to 'blog'}}Blog{{/link-to}}</li>
		<li><a href="/Resume_1.8.1.pdf" download="resume.pdf" target="_blank">Resume</a></li>
		<li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
		<li><a href="http://github.com/asarudick" target="_blank">Github</a></li>
		<li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
	</ul>
{{/slide-out}}
