<div id="contact">
	Contact me @
	<a href="mailto:asa.rudick@gmail.com">asa.rudick@gmail.com</a>
	<br />
	<a href="https://www.linkedin.com/in/asa-rudick-1b693016" class="social">{{fa-icon "linkedin"}}</a>


</div>
