<div id="projects">
	{{partial 'partials/header'}}


	<ul>
		<li class="block">
			<div class="card">
				<div class="card-image">
					<a href="http://www.moultriemobile.com" target="_blank"><img src="/images/moultrie.png" alt=""></a>
				</div>
				<div class="card-header">
					Moultrie Mobile
				</div>
				<div class="card-copy">
					<p>An all-encompassing system responsible for handling user payments, subscriptions, camera and modem status, image uploads, and more. Shown here is the Ember.js-based web application that I oversaw.</p>
				</div>
			</div>
		</li>
		<li class="block">
			<div class="card">
				<div class="card-image">
					<a href="http://www.vulcraft.com" target="_blank"><img src="/images/vulcraft.png" alt=""></a>
				</div>
				<div class="card-header">
					Vulcraft
				</div>
				<div class="card-copy">
					<p>An N2CMS-based web application, which I assembled with design/flow direction from my UX people.</p>
				</div>
			</div>
		</li>
		<li class="block">
			<div class="card">
				<div class="card-image">
					<a href="http://www.kirbybuildingsystems.com" target="_blank"><img src="/images/kirby.png" alt=""></a>
				</div>
				<div class="card-header">
					Kirby Building Systems
				</div>
				<div class="card-copy">
					<p>Another N2CMS-based web application, much like Vulcraft.</p>
				</div>
			</div>
		</li>
		<li class="block">
			<div class="card">
				<div class="card-image">
				</div>
				<div class="card-header">
					TSI PRISM
				</div>
				<div class="card-copy">
					<p>A real-time inmate tracking system with a vanilla JavaScript/jQuery web application frontend.</p>
				</div>
			</div>
		</li>
		<li class="block">
			<div class="card">
				<div class="card-image">
					<a href="//github.com/asarudick/calculator" target="_blank"><img src="/images/calculator.png" alt=""></a>
				</div>
				<div class="card-header">
					Calculator
				</div>
				<div class="card-copy">
					<p>A simple, yet easy-on-the-eyes calculator with support for complex expression evaluation. Written in Ember.js 2.4.</p>
				</div>
			</div>
		</li>
		<li class="block">
			<div class="card">
				<a href="//github.com/asarudick/simple-datastore" target="_blank">
					<div class="card-image">
					</div>
				</a>
				<div class="card-header">
					Simple Datastore
				</div>
				<div class="card-copy">
					<p>A simplified redis clone written in Node.js and ES2015.</p>
				</div>
			</div>
		</li>
		<li class="block">
			<div class="card">
				<a href="//github.com/asarudick/chat-service" target="_blank">
					<div class="card-image">
					</div>
				</a>
				<div class="card-header">
					Chat Service
				</div>
				<div class="card-copy">
					<p>A simple, but scalable chat service written in Node.js and ES2015/ES2016.</p>
				</div>
			</div>
		</li>
		<li class="block">
			<div class="card">
				<a href="//github.com/asarudick/short-url" target="_blank">
					<div class="card-image">
					</div>
				</a>
				<div class="card-header">
					Short Url
				</div>
				<div class="card-copy">
					<p>A simple RESTful API for shortening urls. Implemented using Swagger.</p>
				</div>
			</div>
		</li>
		<li class="block">
			<div class="card">
				<a href="//github.com/asarudick/logfind" target="_blank">
					<div class="card-image">
					</div>
				</a>
				<div class="card-header">
					logfind
				</div>
				<div class="card-copy">
					<p>A CLI tool for searching log files.</p>
				</div>
			</div>
		</li>
	</ul>
</div>
